.jobs
{
	width: 400px;
	margin: auto;
}

.sentance
{
	border: 1px solid red;
	clear: both;
}

.jobsWastelandColumn
{
    width: 100px;
	column-count: 1;
}

.jobsVaultColumn
{
    width: 100px;
	column-count: 1;
}

.jobsDenColumn
{
    width: 100px;
	column-count: 1;
}

.jobsBosColumn
{
    width: 100px;
	column-count: 1;
}

.jobsNcrColumn
{
    width: 100px;
	column-count: 1;
}

.jobsLegionColumn
{
    width: 100px;
	column-count: 1;
}


.commandPosition
{
	font-weight: bold;
}

.otherPosition
{
	
}
